{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Add Reply</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'add_reply_to_post' post.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.content.id_for_label }}">Content:</label>
                    {{ form.content }}
                </div>

                <input type="submit" value="Add reply" class="btn btn-lg btn-primary"> 
                <a href="{% url 'post_detail' post.id%}" class="btn btn-lg btn-primary">Return to post</a>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Lato', sans-serif;
        background-color: #f5f5f5;
    }
    .container {
        padding: 1rem;
    }
    .btn-primary:hover,
    .text-dark:hover {
        background-color: rgba(180, 230, 255, 0.5);
        color: #fff;
    }
    .card {
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 0;
    }
    .card-header {
        font-size: 0.9rem;
        color: #666;
        background-color: #fff;
        border-bottom: 1px solid #e4e4e4;
    }
    .card-footer {
        font-size: 0.9rem;
        color: #999;
        background-color: #fff;
        border-top: 1px solid #e4e4e4;
    }
    .card-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-group label {
        font-size: 0.9rem;
        color: #666;
        font-weight: bold;
    }
    .form-control {
        font-size: 0.9rem;
        color: #555;
        border-radius: 0;
    }
    .form-control:focus {
        box-shadow: none;
    }
</style>
{% endblock %}
