{% extends 'base_content.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <div class= "form_check">
            <div class="mt-5 col-xl-12">
                <div class="mb-4">
                    <h1>Edit Spending</h1>
                    <h1>{{ spending.title }}</h1>
                </div>
                <form action='' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}