{% extends 'base_content.html' %}
{% block content %}



<head>
    <meta charset="utf-8">
    <title>Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8eaf89f6f3.js" crossorigin="anonymous"></script>
    
</head>
<body>   
    <div class="container">
        <h1>Forum</h1>
        <hr>
        <a href="{% url 'add_post' %}" class="btn btn-primary mb-3">Add Post</a>
        <a href="{% url 'personal_forum' %}" class = "btn btn-primary mb-3">Personal Forum</a>
        <a href="{% url 'home' %}" class = "btn btn-primary mb-3">Return Home</a>

        {% for post in page_obj %}
            <div class="card mb-3">
                
                <div class="card-header">
                    {% if post.user %}
                        <a href="{% url 'view_post_user' post.user.id post.id %}" style="text-decoration:none; font-weight:bold; color:black;">
                            <img src="{{ user.gravatar }}" class="rounded-circle profile-image" width="30" height="30"/>
                            {{ post.user.get_full_name }} </a>
                    {% endif %}
                </div>
                <a href="{% url 'post_detail' post.id %}" class="text-dark text-decoration-none" >
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>

                        <div class="post-content">
                            {% if post.content|length > 50 %}
                                {{ post.content|slice:":50"|add:" ..." }}
                                <br>
                            {% else %}
                                {{ post.content|slice:":50"}}                                                    
                            {% endif %}
                            
                        </div>

                        <div class="images">
                            {% for i in post.images.all %}
                            <img src="{{ i.image.url }}" width="200" height="200"></a>
                            {% endfor %}                        
                        </div>

                        <div>
                            {{ post.post_date|date:'d M Y, H:i'}}
                        </div>
                    </div>

                    <div class="card-footer text-muted d-flex justify-content-between">        
                        <div>{{ post.replies.count }} Replies</div>
                        <div>
                            {% if request.user.is_authenticated %}
                                {% if request.user in post.likes.all %}
                                    <form method="post" action="{% url 'like_post' post.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-primary btn-sm" name="like_action" value="unlike"><i class="far fa-thumbs-up"></i> {{ post.likes.count }} Unlike</button>
                                    </form>
                                {% else %}
                                    <form method="post" action="{% url 'like_post' post.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-sm" name="like_action" value="like"><i class="far fa-thumbs-up"></i> {{ post.likes.count }} Like</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm"><i class="far fa-thumbs-up"></i> {{ post.likes.count }} Like</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if post.replies.exists %}
                        <div class="card-footer text-muted d-flex justify-content-between">
                            {% if post.replies.first.content|length > 50 %}
                                <div>{{ post.replies.first.user.get_full_name }}: {{ post.replies.first.content|slice:":50"|add:" ..." }}</div>
                            {% else %}
                                <div>{{ post.replies.first.user.get_full_name }}: {{ post.replies.first.content|slice:":50" }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </a>
            </div>
        {% empty %}
            <p>No posts found.</p>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
    

    <!-- add the Bootstrap JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}
