{% extends 'base_content.html' %}
{% block content %}
{% load mathfilters %}
<div>
    <h1>home page placeholder</h1>
    <a href ='{% url 'add_spending' %}' class = 'btn btn-lg btn-primary'>Add spending</a>
    <a href ='{% url 'view_spendings' %}' class = 'btn btn-lg btn-primary'>View spending</a>
    <a href ='{% url 'add_spending_categories' %}' class = 'btn btn-lg btn-primary'>Add Spending Categories</a>
    <a href ='{% url 'view_spending_categories' %}' class = 'btn btn-lg btn-primary'>View Spending Categories</a>
    <a href ='{% url 'user_profile' %}' class = 'btn btn-lg btn-primary'>Show Profile</a>
    <a href ='{% url 'budget_set' %}' class = 'btn btn-lg btn-primary'>Set Budget</a>
    <a href ='{% url 'budget_show' %}' class = 'btn btn-lg btn-primary'>Show Budget</a>
    <a href ='{% url 'user_guideline' %}' class = 'btn btn-lg btn-primary'>Helper</a>
    <button class = 'btn btn-lg btn-primary' onclick="show_login_task_modal()">Show Reward</button>
    <a href ='{% url 'forum' %}' class = 'btn btn-lg btn-primary'>Forum</a>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
   
<!-- used by js to retrieve pos variable from context-->
   <div id="pos_val" data-my-variable="{{ pos }}"></div>

<!--daily login task modal -->
    <div class="modal" id="daily_login_task" tabindex="-1">
      <div class="modal-dialog" style="min-width:30%;" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daily Reward</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table id="reward-table">
                <tbody>

                    {% for i in week_list %}
                      <tr>
                        {% for j in weekday_list %}
                            <!-- day from 1 to 35 (total 35 squares on the daily login task table) -->
                           {% with within_bracket=i|sub:1 %}
                                {% with mul=within_bracket|mul:7 %}
                                    {% with day=mul|add:j %}

                            {% if day == pos %}
                                 <td class="square" id="task_point-pos-{{ day }}"  name= "task_point_pos" >
                                     <button  onclick="task_point_pos_click_handler({{ day }})" >
                                         day{{pos}}<i class="bi bi-cart-check"></i></button> </td>
                            {% elif day == super_task_point_pos %}
                                <td class = "square" id="task_point-super-{{ day }}"style="color: rgb(255, 24, 7);">
                                    day{{day}} <br>
                                    <i class="fa-solid fa-gem"></i>
                                    {{high_reward_points}}</td>
                            {% else %}
                                 <td class = "square"  id="task_point-normal-{{ day }}"> day{{day}}  <br>
                                 <i class="fa-solid fa-sack-dollar"></i>

                                    {{normal_reward_points}}</td>
                            {% endif %}

                            {% endwith %}
                          {% endwith %}
                        {% endwith %}
                       {% endfor %}
                      </tr>
                    {% endfor %}
                <td id = "www"></td>
               </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <p>Log in for 7 consecutive days to receive <p class="fw-bold"><i class="fa-solid fa-fire" style="color: rgb(255, 24, 7);"></i>  super reward</p></p>
            

          </div>
        </div>
      </div>
    </div>
    
</div>


  
  
{% endblock %}