{% extends 'base_content.html' %}
{% block content %}
<div>
    <h1>home page placeholder</h1>
    <a href ='{% url 'add_spending' %}' class = 'btn btn-lg btn-primary'>Add spending</a>
    <a href ='{% url 'view_spending' %}' class = 'btn btn-lg btn-primary'>View spending</a>
    <a href ='{% url 'add_spending_categories' %}' class = 'btn btn-lg btn-primary'>Add Spending Categories</a>
    <a href ='{% url 'view_spending_categories' %}' class = 'btn btn-lg btn-primary'>View Spending Categories</a>
    <a href ='{% url 'user_profile' %}' class = 'btn btn-lg btn-primary'>Show Profile</a>
    <a href ='{% url 'budget_set' %}' class = 'btn btn-lg btn-primary'>Set Budget</a>
    <a href ='{% url 'budget_show' %}' class = 'btn btn-lg btn-primary'>Show Budget</a>
    <a href ='{% url 'user_guideline' %}' class = 'btn btn-lg btn-primary'>Helper</a>
    <a href ='{% url 'index' %}' class = 'btn btn-lg btn-primary'>Shopping Mall</a>
    <a href ='{% url 'forum' %}' class = 'btn btn-lg btn-primary'>Forum</a>
</div>
{% endblock %}