{% extends 'base_content.html' %}
{% block content %}


<div>
    <h1>home page placeholder</h1>
    <a href ='{% url 'add_spending' %}' class = 'btn btn-lg btn-primary'>Add spending</a>
    <a href ='{% url 'view_spendings' %}' class = 'btn btn-lg btn-primary'>View spending</a>
    <a href ='{% url 'add_spending_categories' %}' class = 'btn btn-lg btn-primary'>Add Spending Categories</a>
    <a href ='{% url 'view_spending_categories' %}' class = 'btn btn-lg btn-primary'>View Spending Categories</a>
    <a href ='{% url 'user_profile' %}' class = 'btn btn-lg btn-primary'>Show Profile</a>
    <a href ='{% url 'budget_set' %}' class = 'btn btn-lg btn-primary'>Set Budget</a>
    <a href ='{% url 'budget_show' %}' class = 'btn btn-lg btn-primary'>Show Budget</a>
    <a href ='{% url 'user_guideline' %}' class = 'btn btn-lg btn-primary'>Helper</a>
    
    <a href ='{% url 'forum' %}' class = 'btn btn-lg btn-primary'>Forum</a>
    
      
    <div class="modal" id="test" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table id="reward-table">
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
                <tbody>

                    {% for i in week_list %}
                      <tr>
                        {% for j in weekday_list %}

                            <td class="square">{{current_datetime}} <i class="bi bi-cart-check"></i></td>

                        {% endfor %}
                      </tr>
                    {% endfor %}
               </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
    
</div>

<script>
  // Use window.onload to ensure the DOM is fully loaded before executing the code
  window.onload = function() {
    // Get a reference to the modal element
    var modal = document.getElementById('test');
    
    // Use the Bootstrap modal API to show the modal on page load
    var modalInstance = new bootstrap.Modal(modal);
    modalInstance.show();
  };
</script>



  
  
{% endblock %}