{% extends 'base_content.html' %}
{% block content %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Post detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8eaf89f6f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_details_and_personal_reply.css' %}" />
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #f5f5f5;
            background-image: linear-gradient(to right, #f8cdda, #a8c0ff);
        }

        .reply {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f5f5f5;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Personal Forum</h1>
        <hr>
        <a href='{% url 'forum' %}' class = 'btn btn-primary mb-3'>Return Forum</a>
        <a href='{% url 'personal_forum' %}' class = 'btn btn-primary mb-3'>Posts</a>
        {% for r in reply_page_obj %}
            <a href="{% url 'post_detail' r.parent_post.id %}" class="text-dark text-decoration-none">
                <div class="reply">
                        {% if r.parent_reply %}
                            <div class="parent-reply">
                                {% if r.parent_reply.content|length > 50 %}
                                    <div>{{ r.parent_reply.user.get_full_name }}: {{ r.parent_reply.content|slice:":50"|add:" ..." }}</div>
                                {% else %}
                                    <div>{{ r.parent_reply.user.get_full_name }}: {{ r.parent_reply.content|slice:":50" }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    <div class="content">{{ r.content }}</div>
                    <div class="info">in {{ r.reply_date|date:'d M Y, H:i' }}</div>
                    <div class="card-footer text-muted d-flex justify-content-between">        
                        <div>{{ r.likes.count }} Likes</div>
                    </div>
                </div>
            </a>
        {% endfor%}
        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if reply_page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?reply_page={{ reply_page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if reply_page_obj.has_other_pages %}
                {% for num in reply_page_obj.paginator.page_range %}
                  <li class="page-item {% if reply_page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?reply_page={{ num }}">{{ num }}</a>
                  </li>
                {% endfor %}
                {% endif %}
                {% if reply_page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?reply_page={{ reply_page_obj.next_page_number }}">Next</a></li>
                {% endif %}
                </ul>
              </nav>
        </div>
    </div>

    <!-- add the Bootstrap JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}