{% extends 'base_content.html' %}
{% block content %}
<head>
    <style>
        * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        }
        .chartMenu {
        width: 100vw;
        height: 40px;
        background: #0c0909;
        color: rgba(54, 162, 235, 1);
        }
        .chartMenu p {
        padding: 10px;
        font-size: 20px;
        }
        .chartCard {
        width: 100vw;
        height: calc(60vh - 40px);
        background: rgba(206, 212, 216, 0.192);
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .chartBox {
        width: 50%;
        min-width: 200px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

    <script>
    function selectSpending() {
        const start_date = document.getElementById('start_date').value;
        const end_date = document.getElementById('end_date').value;
        const selected_categories = document.getElementById('selected_categories').value;

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
                document.getElementById('spending_pie_graph').innerHTML = this.responseText;
                document.getElementById('spending_bar_graph').innerHTML = this.responseText;
                document.getElementById('spending_list').innerHTML = this.responseText;
            }
        };
        xhttp.open('GET', `/spendings?start_date=${start_date}&end_date=${end_date}&select_categories=${selected_categories}`, true);
        xhttp.send();
        return false;
    }

    function addSortUrl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('sorted', document.getElementById('selected_sort').value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url;
    }

    function reloadUrl(event, pageNumber) {
        event.preventDefault();
        var url = window.location.href;
        var search_params = new URLSearchParams(window.location.search);
        if (pageNumber) {
        search_params.set('page', pageNumber);
        }
        new_url = "?" + search_params.toString();
        window.location.href = new_url;
        return window.location.href;
    }

    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }


    window.onload = function() {
        if (get('sorted') == 'date') {
            document.getElementById('empty_sort').innerHTML = "date";
        } else if (get('sorted') == 'spending_category') {
            document.getElementById('empty_sort').innerHTML = "category";
        } else if (get('sorted') == 'amount') {
            document.getElementById('empty_sort').innerHTML = "amount:low to high";
        } else if (get('sorted') == '-amount') {
            document.getElementById('empty_sort').innerHTML = "amount:high to low";
        } else {
            document.getElementById('empty_sort').innerHTML = "";
        }

        if (get('selected_categories') == 'Income') {
            document.getElementById('empty_category').innerHTML = "Income";
        } else {
            document.getElementById('empty_category').innerHTML = "Expenditure";
        }
    }
    </script>
</head>

<body>
    <div class="container">start_date
        <div class="row">
            <div class="col offset-md-11">
                <p><a href='{% url 'home' %}'class="btn btn btn-primary">Return</a></p>
            </div>
        </div>

        <form method="GET" action="{% url 'spending_report' %}">
            <div class="row">
                <div class="col col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="start_date" name="start_date">
                    <label for="floatingInputGrid">Start date:</label>
                </div>
                </div>
                <div class="col col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="end_date" name="end_date">
                    <label for="floatingInputGrid">End date:</label>
                </div>
                </div>
                <div class="col col-lg-3">
                <select id="selected_categories" name="selected_categories" style="height: 58px;font-size: 22px;">
                    <option id="empty_category" value="" disabled selected hidden></option>
                    <option id="selected_expenditure" value="Expenditure">Expenditure</option>
                    <option id="selected_income" value="Income">Income</option>
                </select>
                </div>
                <div class="col-md-auto">
                    <button type="submit" id="generate-button" class="btn btn-primary btn-lg" style="font-size: 22px;" onclick="selectSpending">Generate report</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="chartMenu">
                <p>{{ report_type }} analysis graph</p>
            </div>
            <div class="chartCard">
                <div class="chartBox">
                    <canvas id="spending_pie_graph" width="100" height="400"></canvas>
                </div>
                <div class="chartBox">
                    <canvas id="spending_bar_graph" width="100" height="400"></canvas>
                </div>
            </div>
                <script>
                    var ctx = document.getElementById('spending_pie_graph').getContext('2d');
                    var spending_graph = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels:[{% for i in spendings_data %} '{{i.spending_category__name}}', {% endfor %}],
                            datasets: [{
                                label: '# of spendings',
                                data:[{% for i in  spendings_data %} {{ i.exp_amount }}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)',
                                    'rgba(240, 120, 50, 0.8)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(240, 120, 50, 1)',
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    ticks: {
                                        display: false
                                    }
                                },
                                y: {
                                    ticks: {
                                        display: false
                                    }
                                }
                            },
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                    
                    var ctx = document.getElementById('spending_bar_graph').getContext('2d');
                    var spending_graph = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels:[{% for i in  spendings_data %} '{{i.spending_category__name}}', {% endfor %}],
                            datasets: [{
                                label: 'amount of spendings',
                                data:[{% for i in  spendings_data %} {{i.exp_amount}}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)',
                                    'rgba(240, 120, 50, 0.8)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(240, 120, 50, 1)',
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            },
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                </script>
        </div></br>
        
        <div class="row">
            <h3>{{ report_type }} List</h3>

            <form method="GET" action="{% url 'spending_report' %}">
                <div class="row">
                    <div class="col offset-md-9">
                        <label for="sorter">Sort by:</label>
                        <select id="selected_sort" name="selected_sort" onchange="location = addSortUrl();">
                            <option id="empty_sort" value="" disabled selected hidden></option>
                            <option id="spending_category" value="spending_category">category</option>
                            <option id="amount" value="amount">amount:low to high</option>
                            <option id="-amount" value="-amount">amount:high to low</option>
                            <option id="date" value="date">date</option>
                        </select>
                    </div>
                </div>
            </form>

            <table class="table" id="spending_list">
                <thead>
                    <tr>
                        <th scope="col">spending owner</th>
                        <th scope="col">date</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">spending category</th>
                        <th scope="col">amount</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for i in page_obj %}
                    <tr class="align-middle">
                        <td> {{ i.spending_owner }}</td>
                        <td> {{ i.date|date:"m/d/Y" }}</td>
                        <td> {{ i.title }}</td>
                        <td> {{ i.descriptions }}</td>
                        <td> {{ i.spending_category }}</td>
                        <td> {{ i.amount }}</td>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" onclick="return reloadUrl(event, {{ page_obj.previous_page_number }})">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_other_pages %}
                    {% for num in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}" onclick="return reloadUrl(event, {{ num }})">{{ num }}</a>
                      </li>
                    {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" onclick="return reloadUrl(event, {{ page_obj.next_page_number }})">Next</a></li>
                    {% endif %}
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</body>
{% endblock %}