<div class="container">
      
    <table class="table" id="spending-table">

        <p><a href='{% url 'home' %}'class="btn btn btn-primary">Return</a></p>
        <p>
            <form method="GET" action="{% url 'view_spending' %}">
                <label for="start_date">Start date:</label>
                <input type="date" name="start_date" id="start_date" value="2022-02-01">
                <label for="end_date">End date:</label>
                <input type="date" name="end_date" id="end_date" value="2022-02-01">
                <button type="submit" id="find-button">Find</button>
            </form>
        </p>
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">spending type</th>
                <th scope="col">amount</th>
                <th scope="col">spending owner</th>
                <th scope="col">file</th>
                <th scope="col">date</th>
            </tr>
        </thead>

        <tbody>
            {% for i in spending %}
            <tr class="align-middle">
                <td> {{ i.title }} </td>
                <td> {{ i.descriptions }} </td>
                <td> {{ i.spending_type}} </td>
                <td> {{ i.amount}} </td>
                <td> {{ i.spending_owner}} </td>
                <td> {{ i.date|date:"m/d/Y" }} </td>

                <td>
                    {% for individual in i.files.all %}
                    <a href="{{ individual.file.url }}">{{ individual.file.url }}</a>
                    {% endfor %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>