{% extends 'base_content.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>View All Spending</h1>

<div class="container">
      
    <table class="table">

        <p><a href='{% url 'home' %}'class="btn btn btn-primary">Return</a></p>
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">spending type</th>
                <th scope="col">amount</th>
                <th scope="col">spending owner</th>
                <th scope="col">file</th>
                
            </tr>
        </thead>


        <tbody>
            {% for i in spending %}
            <tr class="align-middle">
                <td><button type="button" class="btn btn-primary" 
                    data-bs-toggle="modal" data-bs-target="#editSpendingModal{{ i.id }}">{{ i.title }}</button></td>

                <td> {{ i.descriptions }}</td>
                <td> {{ i.spending_type}}</td>
                <td> {{ i.amount}}</td>
                <td> {{ i.spending_owner}}</td>



                <td>
                    {% for individual in i.files.all %}
                    <a href="{{ individual.file.url }}">{{ individual.file.url }}</a>
                    {% endfor %}
                </td>
                
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="editSpendingModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="editSpendingModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editSpendingModalLabel">Edit Spending</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{%url 'edit_spending' i.id %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary">Update</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="modal fade" id="editSpendingModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="editSpendingModalLabel">#}
{#                <div class="modal-dialog">#}
{#                    <form method="post" action="{%url 'edit_spending' i.id %}">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <h5 class="modal-title" id="editSpendingModalLabel">Edit Spending</h5>#}
{#                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                {% csrf_token %}#}
{#                                {% crispy form %}#}
{#                            </div>#}
{#<button class="btn btn-primary">{{ i.id }}</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
            {% endfor %}
        </tbody>

    </table>
  
  
</div>

{% endblock %}