{% extends 'base_content.html' %}

{% block content %}


<div class="container">
      
    <table class="table">
        
        <h1>Your Spending Categories:</h1>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_category_modal">+</button>
            <a href="{% url 'view_settings' %}" class="btn btn-primary"> Settings</a>
        </div>
        <!-- modal for add spending category -->
        <div class="modal fade" id="add_category_modal" tabindex="-1" role="dialog" aria-labelledby="add_category_modal_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_category_modal_label">Add Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'add_spending_categories' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3>Expenditure</h3>
        <thead>
            <tr>
                <th scope="col">Category name</th>
                <th scope="col">Category type</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories_expenditure %}
            <tr class="align-middle">
                <td>{{ category.name }}</td>
                <td>{{ category.categories_type }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="category_id" value="{{ category.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href='{% url 'update_spending_categories' category.id %}' class="btn btn btn-secondary">Update</a>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h3>Income</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category name</th>
                <th scope="col">Category type</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories_income %}
            <tr class="align-middle">
                <td>{{ category.name }}</td>
                <td>{{ category.categories_type }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="category_id" value="{{ category.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href='{% url 'update_spending_categories' category.id %}' class="btn btn btn-secondary">Update</a>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}



